body {
    background: black;
    margin: 0px;
    color: white;
    overflow: hidden;
}

#topbar {
    background: #2b2d31;
    padding: 5px;
    display: flex;
    gap: 15px;
    height: calc(69px + 5px);
    justify-content: right;
    align-items: center;
}

#topbar .botDetails {
    position: fixed;
    left: 0;
}

.botDetails {
    padding: 5px;
    display: flex;
    gap: 15px;
    background: #2b2d31;
}

#botAvatar {
    height: 64px;
    width: 64px;
    border-radius: 100%;
    background: #313338;
}

.tab {
    position: relative;
    background-size: cover;
    height: 64px;
    width: 64px;
    border: none;
    font-size: 16px;
    text-align: center;
    display: flex;
    align-items: flex-end;
    padding-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--primary);
    transition: background 0.3s ease;
    color: white;
}

.tab:hover {
    background-color: var(--primary-hover);
}

.tab span {
    font-family: DefinitelyNotSpotifyMix, sans-serif;
    font-size: 10px;
}

.tab img {
    position: absolute;
    width: 60%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -65%);
}

#content {
    position: relative;
    left: 10px;
    top: -100px;
}

.page {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.2s ease-out, visibility 0s 0.2s;
    z-index: 0;
    visibility: hidden;
}
.page.active {
    opacity: 1;
    visibility: visible;
    z-index: 1;
    transition: opacity 0.2s ease-out, visibility 0s 0.2s;
}

.fader {
    background-color: black;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeOut 1s ease-out forwards 3s;
}

.fader h1 {
    text-align: center;
    animation: bounce 2s ease-in-out infinite alternate;
    transition: content 0.5s ease-in-out;
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes bounce {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

.modules {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.module {
    display: block;
    background: var(--primary);
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    width: 512px;
}

.module:hover {
    background: var(--primary-hover);
}

.createModule {
    width: 64px;
    height: 64px;
    background-color: var(--primary);
    position: absolute;
    right: 20px;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    border-radius: 5px;
    cursor: pointer;
}

.createModule:hover {
    background: var(--primary-hover);
}

.delModule {
    background-color: red;
    padding: 5px;
    border-radius: 5px;
    font-weight: bolder;
    cursor: pointer;
    margin-left: 440px;
    position: absolute;
}

.mod {
    display: flex;
    align-items: center;
}